:root {
    --main: rgb(44, 44, 44);
    --light: aqua;
}

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

h1,
h2, 
p,
li {
    color: var(--main);
}

h1 {
    font-size: 350%;
}

h2 {
    font-size: 325%;
}

h3 {
    font-size: 300%;
}

p {
    font-size: 175%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.image-section img {
    width: 15%;
    height: 15%;
    border-radius: 50%;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: var(--main);
    padding: 20px;
    padding-left: 0px;
}

header h1 {
    background-color: var(--light);
    padding: 20px;
    padding-left: 100px;
    color: rgb(44, 44, 44);
}

header a {
    color: var(--light);
}

header a:hover {
    color: white;
}

header ul {
    display: flex;
    list-style: none;
    gap: 30px;
    align-self: center;
    font-size: 175%;
}

header li {
    border-bottom: 5px solid var(--light);
    padding: 5px 20px;
}

.image-section {
    display: flex;
    justify-content: center;
    padding: 50px;
    gap: 75px;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(231,231,231,1) 40%, rgba(135,135,135,1) 100%);
}

.image-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.image-text h2 {
    padding: 3px;
}

.main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about-me,
#work,
#contact {
    display: flex;
    gap: 50px;
    width: 80%;
    padding: 50px 0px 50px 0px;
}

#about-me h2,
#work h2,
#contact h2 {
    border-right: 5px solid var(--main);
    padding-right: 20px;
    text-align: right;
}

.about-text {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

#work {
    padding-left: 45px;
    margin-bottom: 0px;
    
}

.work-image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
}

#work img {
    margin: 5px;
    border: 5px solid var(--light);
}

.work-image {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.work-image,
.large-image {
    position: relative;
    text-align: center;
    color: var(--main);
}

.bottom-left,
.bottom-left-large {
    position: absolute;
    bottom: 30px;
    left: 10px;
    font-size: 300%;
    background-color: var(--light);
    padding: 10px;
}

.bottom-left-large {
    left: 19px;
}

.large-image {
    width: 97%;
}

#contact {
    margin-left: -110px;
}



#contact ul {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 175%;
    gap: 30px;
    padding-left: 190px;
}


#contact a,
#contact li {
    color: var(--main);
}

#contact a:hover {
    color: aqua;
    
}
 


