:root {
    --main: rgb(44, 44, 44);
    --light: aqua;
}

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

h1,
h2, 
p {
    color: var(--main);
}

h1 {
    font-size: 350%;
}

h2 {
    font-size: 325%;
}

h3 {
    font-size: 300%;
}

p {
    font-size: 175%;
}

.image-section img {
    width: 15%;
    height: 15%;
    border-radius: 50%;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: var(--main);
    padding: 20px;
    padding-left: 0px;
}

header h1 {
    background-color: var(--light);
    padding: 20px;
    padding-left: 100px;
    color: rgb(44, 44, 44);
}

header ul {
    display: flex;
    list-style: none;
    color: aqua;
    gap: 30px;
    align-self: center;
    font-size: 175%;
}

header li {
    border-bottom: 5px solid var(--light);
    padding: 5px 20px;
}

.image-section {
    display: flex;
    justify-content: center;
    padding: 50px;
    gap: 75px;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(231,231,231,1) 40%, rgba(135,135,135,1) 100%);
}

.image-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.image-text h2 {
    padding: 3px;
}

.main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-me,
.work {
    display: flex;
    gap: 50px;
    width: 80%;
    padding: 50px 0px 50px 0px;
}

.about-me h2,
.work h2 {
    border-right: 5px solid var(--main);
    padding-right: 20px;
    text-align: right;
}

.about-text {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.work {
    padding-left: 45px;
}

.work-images {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.work img:first-child {
    height: 50%;
    width: 150%;
    margin-top: 0px;
}

.work img {
    height: 25%;
    margin: 15px;
    border: 5px solid var(--light);
}

.work img:not(:first-child) {
    
}

